/* Your styles here */

/*reset di base*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #222f3e;
  color: white;
}

header img {
  width: 10%;
  padding-left: 20px;
}

nav {
  background-color: #364759;
}

header ul {
  padding-left: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-bottom: 0;
  margin-top: 10px;
}

header ul li {
  display: inline;
  padding: 0 0.5em;
}

main {
  padding: 30px;
  background-color: #eaeded;
}

.giftCardsTitle {
  background-color: #f56600;
  text-align: center;
}

.giftCardsTitle p {
  padding: 10px;
  color: white;
}

.greenBanner {
  background-image: url(/Progetto_PaginaWeb/assets/img/bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}

.greenBanner h2,
.greenBanner p {
  color: white;
  text-align: center;
}

.greenBanner h2 {
  padding-top: 30px;
}

.greenBanner p {
  padding-bottom: 30px;
}

/*.greenBanner img {
    width: 100%;
}*/

.cardsBox {
  background-color: #ffffff;
  margin-top: 30px;
  padding: 10px;
  padding-bottom: 30px;
}

.cardsBox p {
  display: inline;
  margin: 10px;
}
.shopLink {
  color: #0c5c6a;
  font-weight: bold;
  font-size: 14px;
}

.cardText {
  margin-bottom: 30px;
}

.imgCard1,
.imgCard2,
.imgCard3,
.imgCard4 {
  display: inline-block;
  width: 250px;
  margin: 0 10px;
}

.imgCard1 img,
.imgCard2 img,
.imgCard3 img,
.imgCard4 img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.06),
    3px 3px rgba(0, 0, 0, 0.08), 4px 4px rgba(0, 0, 0, 0.1),
    5px 5px rgba(0, 0, 0, 0.12), 6px 6px rgba(0, 0, 0, 0.14),
    7px 7px rgba(0, 0, 0, 0.16), 8px 8px rgba(0, 0, 0, 0.18);
}

.allCardImg {
  text-align: center;
}

.box2 {
  margin-top: 30px;
}

.box2 img {
  width: 100%;
}

.gameText {
  text-align: center;
}

.gameText p {
  display: inline;
  margin: 0 10px;
}

.gameLink {
  color: #0c5c6a;
  font-weight: bold;
  font-size: 14px;
}

.box3 {
  margin-top: 30px;
}

.box3 img {
  width: 100%;
}

.soundText {
  text-align: center;
}

.soundText p {
  display: inline;
  margin: 0 10px;
}

.soundLink {
  color: #0c5c6a;
  font-weight: bold;
  font-size: 14px;
}

footer {
  background-color: #222f3e;
  text-align: center;
}

footer p {
  background-color: #364759;
  color: white;
  padding: 10px;
  margin: 0;
}

footer img {
  width: 18%;
  padding: 40px;
}

a:link,
a:visited {
  color: white;
}
